.message-container {
    max-height: 400px; /* Adjust this value as needed */
    max-width: 900px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  li {
    margin-bottom: 10px; /* Add some margin between messages */
    display: flex;
    justify-content: flex-start; /* Default to left alignment */
  }
  
  .sender-message-container {
    display: flex;
    justify-content: flex-end; /* Align sender messages to the right */
    width: 100%;
  }
  
  .receiver-message-container {
    display: flex;
    justify-content: flex-start; /* Align receiver messages to the left */
    width: 100%;
  }
  
  .sender-message {
    background-color: red;
    color: white; /* Optional: change text color for better contrast */
    padding: 2px 4px;
    border-radius: 3px;
    display: inline-block;
    margin: 2px 0; /* Add some margin for better spacing */
    max-width: 40%; /* Prevent the message from taking the entire width */
    word-wrap: break-word;
  }
  
  .receiver-message {
    background-color: blue;
    color: white; /* Optional: change text color for better contrast */
    padding: 2px 4px;
    border-radius: 3px;
    display: inline-block;
    margin: 2px 0; /* Add some margin for better spacing */
    max-width: 40%; /* Prevent the message from taking the entire width */
    word-wrap: break-word;
  }
  