<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email">
    <label for="name">Name</label>
    <input id="name" formControlName="name" type="text">
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password">
    <label for="password2">Confirm Password</label>
    <input id="password2" formControlName="password2" type="password">
    <label for="tc">Terms and Conditions</label>
    <input id="tc" formControlName="tc" type="checkbox">
    <button type="submit">Register</button>
  </form>
  